.removeCallendarEndPage,
.creatingCallendarEndPage,
.creatingInfoEndDate,
.creatingCallendarStartPage,
.createArrow,
.removeArrow,
.createError {
    opacity: 0;
}

.removeCallendarEndPage {
    transform: translateX(-200px) rotate(30deg);
    -webkit-transform: translateX(-200px) rotate(30deg);
    -moz-transform: translateX(-200px) rotate(30deg);
    -ms-transform: translateX(-200px) rotate(30deg);
    -o-transform: translateX(-200px) rotate(30deg);
}

.creatingCallendarEndPage {
    transform: translateX(-200px) rotate(30deg);
    -webkit-transform: translateX(-200px) rotate(30deg);
    -moz-transform: translateX(-200px) rotate(30deg);
    -ms-transform: translateX(-200px) rotate(30deg);
    -o-transform: translateX(-200px) rotate(30deg);
}

.creatingInfoEndDate {
    transform: translateX(-100px) translateY(-50px);
    -webkit-transform: translateX(-100px) translateY(-50px);
    -moz-transform: translateX(-100px) translateY(-50px);
    -ms-transform: translateX(-100px) translateY(-50px);
    -o-transform: translateX(-100px) translateY(-50px);
}

.creatingCallendarStartPage {
    transform: translateX(-200px) rotate(30deg);
    -webkit-transform: translateX(-200px) rotate(30deg);
    -moz-transform: translateX(-200px) rotate(30deg);
    -ms-transform: translateX(-200px) rotate(30deg);
    -o-transform: translateX(-200px) rotate(30deg);
}

.createArrow {
    padding: 1em;
}

.removeArrow {
    padding-left: 1em;
}

.createError {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}