@media (min-width: 1366px) {
    body {
        margin: 1em 10em;
    }
    main {
        margin: 0 5em;
        display: flex;
        flex-flow: column nowrap;
    }
    .create-post,
    .view-post {
        margin: 1em;
    }
    .create-post {
        height: 15vh;
    }
    .view-post {
        height: 60vh;
        display: flex;
        align-items: center;
    }
    .user-layout {
        width: 50%;
        height: 80%;
    }
    .layout-post-exit {
        margin-right: 0;
    }
    .user-avatar {
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .is-open {
        left: 35vw;
        width: 40em;
    }
    .button-post,
    .button-edit {
        padding: 1em 10em;
    }
    .post {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 2em;
        margin: 1em 5em;
        max-width: 50vw;
    }
}

@media (max-width: 1366px) and (min-width: 1000px) {
    body {
        font-size: 1.2em;
    }
    .user-avatar {
        scale: 1.6;
    }
    .create-post,
    .view-post {
        margin: 1em 2em;
    }
    .layout {
        display: flex;
        justify-content: center;
    }
    .is-open {
        width: 25em;
        top: 8vw;
    }
    .user-input-text-area>textarea {
        font-size: 1.2em;
    }
    .layout-post-button {
        font-size: 2em;
    }
    .user-avatar {
        display: flex;
        justify-content: center;
        align-self: center;
        scale: 1.2;
    }
    .user-input-avatar {
        scale: 1.2;
    }
    .layout-post-button>button {
        font-size: 0.5em;
    }
}

@media (max-width: 1000px) and (min-width: 700px) {
    body {
        font-size: 1.4em;
    }
    .is-open {
        top: 6em;
        width: 20em;
    }
    .layout {
        display: flex;
        justify-content: center;
    }
    .user-avatar {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .user-input-text-area>textarea {
        font-size: 1.1em;
    }
    .user-input-avatar {
        scale: 1.2;
    }
    .layout-post-button>.button-post,
    .layout-post-button>.button-edit {
        font-size: .8em;
        height: 5em;
    }
}